.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f5f5f5;
 }

 .ui-dialog{
   padding: 0;
 }

 .ui-dialog-content.ui-widget-content{
  padding: 0;
}

 .ui-draggable .ui-dialog-titlebar{
  height: 40px;
  font-size: 15px;
  padding: 8px;
 }