.btn-icon{
    width: 16px;
    height: 20px;
    margin: 1px 4px;
    background-image: url('../../../Contents/Icons/common-icon.png');
}

.show-hide{
    display: block !important;
}

.common-icon{
    background-image: url('../../../Contents/Icons/common-icon.png')
}

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

.btn-icon-add{
    background-position: -1px -127px;
    color: white;
}

.btn-icon-view{
    background-position: 318px -126px;
}

.btn-icon-edit{
    background-position: -77px -203px;
}

.btn-icon-duplicate{
    background-position: -976px -127px;
}

.btn-icon-delete{
    background-position: -1076px -127px;
}

.btn-icon-print{
    background-position: -228px -129px;
    margin-top: 3px
}

.btn-icon-filter{
    background-position:  -605px -131px;
    margin: 5px 0;
}

.btn-text{
    padding: 0 5px;
}

.calendar-icon-picker{
    background: url('../../../Contents/Icons/common-icon.png') no-repeat -4px -178px;
}
.hour-icon-picker{
    background: url('../../../Contents/Icons/common-icon.png') no-repeat -28px -178px
}

.blue-border-btn{
    height: 35px;
    padding: 7px 15px;
    margin: 14px 0 15px 15px;
    border: 1px solid #026b97;
    border-radius: 3px;
    display: flex;
    color: #026b97;
}

.blue-border-btn:hover{
    cursor: pointer;
}


thead{
    background-color: #f0f0f0;
}

thead th{
    text-align: center;
}

tbody{
    background-color: white;
}

tbody tr:hover{
    background: rgba(195, 236, 255, 0.5);
    cursor: pointer;
}

tbody td{
    padding: 9px;
    height: 38px;
    border: 1px solid #e1e1e1;
}

.div-wrap-master-table{
    height: 390px;
    background-color: white;
    overflow-y: scroll;
}

.div-wrap-detail-table{
    height: 215px;
    background-color: white;
}

.width-18{
    width: 17.5px;
}

.width-80{
    width: 80px;
}

.width-90{
    width: 90px;
}

.width-100{
    width: 100px;
}

.width-130{
    width: 130px;
}

.width-140{
    width: 140px;
}

.width-150{
    width: 150px;
}

.width-170{
    width: 170px;
}

.width-180{
    width: 180px;
}

.width-200{
    width: 200px; 
}

.width-230{
    width:230px;
}

.width-250{
    width:250px;
}

.width-368{
    width: 368px;
}

.width-558{
    width: 558px;
}

.garbage-icon {
    background: url(../../../Contents/Icons/common-icon.png) no-repeat 4px 1px;
    width: 27px;
    height:24px;
    margin: 6px;
}

.garbage-icon:hover {
    cursor: pointer;
}

.disabled-cell{
    opacity: 0.8;
    pointer-events: none;
    background-color: #e5e6eb;
}

.input-inside-cell{
    height: 38px;
    border: none;
    padding: 0 7px;
}

.f5f5f5-background{
    background-color: #f5f5f5;
}

.selected-row{
    background-color: rgb(195, 236, 255);
}